<!DOCTYPE html>
<html>
  <head>
    <title>Solution</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style >
     ul{
      float: right;
      list-style: none;
      text-align: right;
     }
     .extra {
      float: right;
     }
     .container{
      max-width: 80%
     }

    </style>
  </head>
  <body>

    <header>

  <nav class="nav navbar-expand-md navbar-dark bg-dark ">
    <%= image_tag ("logo.jpg"), size: "65x45" %>
    <button class="navbar-toggler"  data-toggle = "collapse" data-target = "#collapse-target">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse_target">
      <%= link_to root_path do%>
        <button class="btn btn-dark" style="font-size: 20px;"> TicketTopia </button> 
      <% end -%>
    </div>

    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      
        <%= link_to "http://localhost:3000/shopping_cart" do %>
          <button class="btn btn-dark"> Cart (<%=shopping_cart_how_many_tickets()%>)</button>
        <% end -%>
      
      <% if user_signed_in? %>
      <%= link_to edit_user_registration_path do%>
        <button class="btn btn-dark">Settings</button>
        <% end %>
      <%= link_to "http://localhost:3000/users/sign_out" do%>
        <button class="btn btn-dark">Log Out</button>
      <% end %>

        <%else%>
        <%= link_to "http://localhost:3000/users/sign_in" do%>
        <button class="btn btn-dark">Log In</button>
        <% end %>

      <% end %>
      

      
    </ul>
  </nav>
    </header>
  
  <div class="container">
    <div class="row">
    <div class="col"></div>
    <div class="col-md-auto" style="background: ">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
    <div class="col"></div>
      
    </div>
  </div>
</body>
</html>

